---
layout: default
---

  {% include header.html %}

  <div class="container">
    
    <ul class="post-list">
      {% for post in site.posts %}
        <li class="post-list-item">
          <h6><a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a></h6>
          <p class="post-meta">{{ post.date | date: "%b %-d, %Y" }}</p>

          <div class="post-excerpt">
            {{ post.excerpt }}
          </div>

        </li>
      {% endfor %}
    </ul>
  </div>