@import "normalize";

@import "bits";
@import "functions";
@import "base";
@import "grid";
@import "typography";

html {
  background-color: color(white);
}

.container {
  width: 90%;
  max-width: 720px;
  margin: 0 auto;
}

.vertical-align--table {
  width: 100%;
  height: 100%;
  display: table;
  .vertical-align--table-cell{
    display: table-cell;
    vertical-align: middle;
  }
}

html, body {
  height: 100%;
  text-align: center;
}

.grid{
  margin: base(2) 0;

  div {
    height: base(2);
    margin-bottom: $gutter-width;
    background-clip: content-box;
    background-color: darken(color(white), 12);  
  }
}

.header {
  padding: base(4) 0;
}

.header__title {
  @include font-size(100);
}

.post-list {
  list-style-type: none;
  margin: 0 0 base(4) 0;
  padding: 0;
}

.post-list-item {
  margin-bottom: base(2);
}

.post-link {
  margin-bottom: base(1);
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  color: color(text);
}

.post-excerpt {
  text-align: left;
}
